* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

figure {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(84deg, #fb7171, #f5acac); }
  figure h1 {
    position: absolute;
    left: 4vw;
    top: 7vh;
    font-size: 0; }
    figure h1 strong {
      font: bold 36px/1 'arial';
      color: #fff;
      letter-spacing: 1px; }
    figure h1 span {
      font: 12px/1 'arial';
      color: #fff;
      opacity: 0.8;
      letter-spacing: 2px; }
  figure .menu {
    position: absolute;
    top: 8vh;
    right: 4vw;
    font-size: 24px;
    color: #fff; }
  figure section {
    width: 20vw;
    height: 60vh;
    position: absolute;
    left: 50%;
    top: 150%;
    margin-left: -10vw;
    margin-top: -30vh; }
    figure section article {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px; }
      figure section article .inner {
        width: 100%;
        height: 100%;
        padding: 5vh 2.5vw 8vh;
        background: #fff;
        opacity: 0.7;
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05); }
  figure .btn_prev {
    width: 50px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-20vw, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    font-size: 0; }
    figure .btn_prev span {
      font: 11px/1 'arial';
      color: #fff;
      opacity: 1;
      transition: 0.5s; }
    figure .btn_prev::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0px;
      top: 50%;
      transform-origin: left center;
      transform: rotate(-180deg);
      transition: 0.5s; }
    figure .btn_prev::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0px;
      top: 50%;
      transform-origin: left center;
      transform: rotate(180deg);
      transition: 0.5s; }
    figure .btn_prev:hover span {
      transform: translateX(100%);
      opacity: 0; }
    figure .btn_prev:hover::before {
      transform: rotate(-30deg); }
    figure .btn_prev:hover::after {
      transform: rotate(30deg); }
  figure .btn_next {
    width: 50px;
    height: 60px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(20vw, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
    font-size: 0; }
    figure .btn_next span {
      font: 11px/1 'arial';
      color: #fff;
      opacity: 1;
      transition: 0.5s; }
    figure .btn_next::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      right: 0px;
      top: 50%;
      transform-origin: right center;
      transform: rotate(-180deg);
      transition: 0.5s; }
    figure .btn_next::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      right: 0px;
      top: 50%;
      transform-origin: right center;
      transform: rotate(180deg);
      transition: 0.5s; }
    figure .btn_next:hover span {
      transform: translateX(-100%);
      opacity: 0; }
    figure .btn_next:hover::before {
      transform: rotate(-30deg); }
    figure .btn_next:hover::after {
      transform: rotate(30deg); }
  figure > p.copy {
    position: absolute;
    left: 50%;
    bottom: 7vh;
    transform: translateX(-50%);
    font: 12px/1 'arial';
    color: #fff;
    opacity: 0.8;
    letter-spacing: 1px; }

/*# sourceMappingURL=style.css.map */
