* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

figure {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(84deg, #71affb, #f5acac); }
  figure h1 {
    position: absolute;
    left: 4vw;
    top: 7vh;
    font-size: 0; }
    figure h1 strong {
      font: bold 36px/1 'arial';
      color: #fff;
      letter-spacing: 1px; }
    figure h1 span {
      font: 12px/1 'arial';
      color: #fff;
      opacity: 0.8;
      letter-spacing: 2px; }
  figure .menu {
    position: absolute;
    top: 8vh;
    right: 4vw;
    font-size: 24px;
    color: #fff; }
  figure section {
    width: 20vw;
    height: 61vh;
    position: absolute;
    left: 50%;
    top: 150%;
    margin-left: -10vw;
    margin-top: -30vh;
    transition: 1s; }
    figure section article {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px; }
      figure section article .inner {
        width: 100%;
        height: 100%;
        padding: 5vh 2.5vw 6vh;
        background: #fff;
        opacity: 0.7;
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
        transform: scale(0.9);
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-content: space-between;
        flex-wrap: wrap; }
        figure section article .inner .pic {
          width: 15vw;
          height: 15vw;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center; }
          figure section article .inner .pic::before, figure section article .inner .pic::after {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: url(../img/member1.jpg) no-repeat center/cover; }
          figure section article .inner .pic::before {
            transform: translateY(7%);
            filter: blur(15px) brightness(1.3);
            animation: rotation2 4s linear infinite;
            animation-play-state: paused; }
          figure section article .inner .pic::after {
            animation: rotation 4s linear infinite;
            animation-play-state: paused; }
          figure section article .inner .pic .dot {
            width: 3vw;
            height: 3vw;
            border-radius: 50%;
            background: #fff;
            z-index: 3;
            position: relative;
            box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2); }
          figure section article .inner .pic.on::before {
            animation-play-state: running; }
          figure section article .inner .pic.on::after {
            animation-play-state: running; }
@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes rotation2 {
  0% {
    transform: translateY(7%) rotate(0deg); }
  100% {
    transform: translateY(7%) rotate(360deg); } }
        figure section article .inner .txt {
          text-align: center;
          position: relative;
          z-index: 3; }
          figure section article .inner .txt h2 {
            font: bold 18px/1 'arial';
            color: #222;
            margin-bottom: 2vh; }
          figure section article .inner .txt p {
            font: 12px/1 'arial';
            color: #777;
            margin-bottom: 3vh; }
          figure section article .inner .txt ul {
            display: flex;
            justify-content: space-around; }
            figure section article .inner .txt ul li {
              cursor: pointer;
              opacity: 0.6;
              transition: 0.5s; }
              figure section article .inner .txt ul li.play {
                transform: scale(1.5);
                opacity: 0.9; }
              figure section article .inner .txt ul li:hover {
                transform: scale(1.5);
                opacity: 0.8; }
                figure section article .inner .txt ul li:hover.play {
                  transform: scale(2);
                  opacity: 1; }
      figure section article.on .inner {
        opacity: 0.97;
        transform: scale(1.07); }
    figure section article:nth-of-type(1) .inner .pic::before,
    figure section article:nth-of-type(1) .inner .pic::after {
      background-image: url(../img/member1.jpg); }
    figure section article:nth-of-type(2) .inner .pic::before,
    figure section article:nth-of-type(2) .inner .pic::after {
      background-image: url(../img/member2.jpg); }
    figure section article:nth-of-type(3) .inner .pic::before,
    figure section article:nth-of-type(3) .inner .pic::after {
      background-image: url(../img/member3.jpg); }
    figure section article:nth-of-type(4) .inner .pic::before,
    figure section article:nth-of-type(4) .inner .pic::after {
      background-image: url(../img/member4.jpg); }
    figure section article:nth-of-type(5) .inner .pic::before,
    figure section article:nth-of-type(5) .inner .pic::after {
      background-image: url(../img/member5.jpg); }
    figure section article:nth-of-type(6) .inner .pic::before,
    figure section article:nth-of-type(6) .inner .pic::after {
      background-image: url(../img/member6.jpg); }
    figure section article:nth-of-type(7) .inner .pic::before,
    figure section article:nth-of-type(7) .inner .pic::after {
      background-image: url(../img/member7.jpg); }
    figure section article:nth-of-type(8) .inner .pic::before,
    figure section article:nth-of-type(8) .inner .pic::after {
      background-image: url(../img/member8.jpg); }
  figure .btn_prev {
    width: 50px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-20vw, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    font-size: 0; }
    figure .btn_prev span {
      font: 11px/1 'arial';
      color: #fff;
      opacity: 1;
      transition: 0.5s; }
    figure .btn_prev::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0px;
      top: 50%;
      transform-origin: left center;
      transform: rotate(-180deg);
      transition: 0.5s; }
    figure .btn_prev::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0px;
      top: 50%;
      transform-origin: left center;
      transform: rotate(180deg);
      transition: 0.5s; }
    figure .btn_prev:hover span {
      transform: translateX(100%);
      opacity: 0; }
    figure .btn_prev:hover::before {
      transform: rotate(-30deg); }
    figure .btn_prev:hover::after {
      transform: rotate(30deg); }
  figure .btn_next {
    width: 50px;
    height: 60px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(20vw, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
    font-size: 0; }
    figure .btn_next span {
      font: 11px/1 'arial';
      color: #fff;
      opacity: 1;
      transition: 0.5s; }
    figure .btn_next::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      right: 0px;
      top: 50%;
      transform-origin: right center;
      transform: rotate(-180deg);
      transition: 0.5s; }
    figure .btn_next::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      right: 0px;
      top: 50%;
      transform-origin: right center;
      transform: rotate(180deg);
      transition: 0.5s; }
    figure .btn_next:hover span {
      transform: translateX(-100%);
      opacity: 0; }
    figure .btn_next:hover::before {
      transform: rotate(-30deg); }
    figure .btn_next:hover::after {
      transform: rotate(30deg); }
  figure > p.copy {
    position: absolute;
    left: 50%;
    bottom: 7vh;
    transform: translateX(-50%);
    font: 12px/1 'arial';
    color: #fff;
    opacity: 0.8;
    letter-spacing: 1px; }

/*# sourceMappingURL=style.css.map */
