section {
  width: 20vw; height: 60vh; position: absolute; left: 50%; top: 150%;
  margin-left: -10vw; margin-top: -30vh; transition: 1s;

  article {
    width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;

    .inner {
      width: 100%; height: 100%; padding: 5vh 2.5vw 8vh;
      background: #fff; opacity: 0.7;
      border-radius: 10px; box-shadow: 10px 10px 20px rgba(0,0,0,0.05);
      transform: scale(0.9); transition: 0.5s;
    }

    &.on {
      .inner {
        opacity: 0.97; transform: scale(1);
      }
    }
  }
}