section {
  width: 20vw; height: 60vh; position: absolute; left: 50%; top: 150%;
  margin-left: -10vw; margin-top: -30vh; transition: 1s;

  article {
    width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;

    .inner {
      width: 100%; height: 100%; padding: 5vh 2.5vw 8vh;
      background: #fff; opacity: 0.7;
      border-radius: 10px; box-shadow: 10px 10px 20px rgba(0,0,0,0.05);
      transform: scale(0.9); transition: 0.5s;
      display: flex; justify-content: center;

      .pic {
        width: 15vw; height: 15vw; position: relative;

        &::before, &::after {
          content: ''; display: block; position: absolute; top: 0px; left: 0px;
          width: 100%; height: 100%; border-radius: 50%;
          background: url(../img/member1.jpg) no-repeat center / cover;
        }

        &::before  {
          transform: translateY(7%);
          filter: blur(15px) brightness(1.3);
        }
      }
    }

    &.on {
      .inner {
        opacity: 0.97; transform: scale(1);
      }
    }
  }

  @for $i from 1 through 8 {
    article:nth-of-type(#{$i}) .inner .pic::before,
    article:nth-of-type(#{$i}) .inner .pic::after {
      background-image: url(../img/member#{$i}.jpg);
    }
  }
}