@charset 'UTF-8';
@import 'reset';

figure {
  width: 100%; height: 100vh; overflow: hidden; position: relative;
  background: linear-gradient(84deg, #fb7171, #f5acac);

  h1 {
    position: absolute; left: 4vw; top: 7vh;
    font-size: 0;

    strong {
      font: bold 36px/1 'arial'; color: #fff; letter-spacing: 1px;
    }

    span {
      font: 12px/1 'arial'; color: #fff; opacity: 0.8; letter-spacing: 2px;
    }
  }

  .menu {
    position: absolute; top: 8vh; right: 4vw;
    font-size: 24px; color: #fff;
  }

  @import 'panel';
  @import 'btns';
  
  & > p.copy {
    position: absolute; left: 50%; bottom: 7vh; transform: translateX(-50%);
    font: 12px/1 'arial'; color: #fff; opacity: 0.8; letter-spacing: 1px;
  }
}